<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="mecanum test v.6">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00868847650405073 -0.00025711510004067 -0.00100383255756043"
        rpy="0 0 0" />
      <mass
        value="0.438269791762358" />
      <inertia
        ixx="0.000281554923820775"
        ixy="-4.4703772400824E-09"
        ixz="-1.27087867827246E-08"
        iyy="0.000902471808953337"
        iyz="-1.44937525962296E-07"
        izz="0.00114409887764575" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="left_front_link">
    <inertial>
      <origin
        xyz="-2.21087585322577E-08 -3.35658462795319E-08 3.54844728481657E-05"
        rpy="0 0 0" />
      <mass
        value="0.218196679637096" />
      <inertia
        ixx="6.03097474952457E-05"
        ixy="-2.73288653472053E-11"
        ixz="2.40076029904199E-11"
        iyy="6.03112123853112E-05"
        iyz="3.71275922342662E-11"
        izz="6.91135342872255E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/left_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/left_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_front_joint"
    type="continuous">
    <origin
      xyz="0.075 0.093 -0.0165"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_front_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_front_link">
    <inertial>
      <origin
        xyz="4.89352119936726E-08 -6.41815638482979E-08 -0.000212315698439991"
        rpy="0 0 0" />
      <mass
        value="0.217950760050828" />
      <inertia
        ixx="6.00994880032383E-05"
        ixy="-1.36705719435594E-11"
        ixz="-3.75668007589829E-11"
        iyy="6.01009250622034E-05"
        iyz="-3.81669742151063E-11"
        izz="6.86942109128641E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/right_front_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/right_front_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_front_joint"
    type="continuous">
    <origin
      xyz="0.075 -0.093002 -0.0165"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_front_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_back_link">
    <inertial>
      <origin
        xyz="1.25928190777835E-07 9.02516253641072E-08 0.000212252459011159"
        rpy="0 0 0" />
      <mass
        value="0.217951478604634" />
      <inertia
        ixx="6.00998665627385E-05"
        ixy="-1.35668841049356E-10"
        ixz="2.20302791319006E-11"
        iyy="6.01010944337809E-05"
        iyz="-7.72858410492777E-11"
        izz="6.86943038179532E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/left_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/left_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_back_joint"
    type="continuous">
    <origin
      xyz="-0.075 0.093002 -0.0165"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="left_back_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_back_link">
    <inertial>
      <origin
        xyz="-3.36449804128058E-08 1.08012634739141E-08 -3.55185643660522E-05"
        rpy="0 0 0" />
      <mass
        value="0.218196600372531" />
      <inertia
        ixx="6.03096002691482E-05"
        ixy="2.39952561154555E-12"
        ixz="3.49640928333172E-13"
        iyy="6.0311444302531E-05"
        iyz="1.18459960105545E-10"
        izz="6.91133917321441E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/right_back_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/right_back_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_back_joint"
    type="continuous">
    <origin
      xyz="-0.075 -0.093 -0.0165"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="right_back_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="imu_link">
    <inertial>
      <origin
        xyz="0.000813594970481267 -5.56825045085646E-05 -0.000808281809669862"
        rpy="0 0 0" />
      <mass
        value="0.00100170070350825" />
      <inertia
        ixx="3.03936181819939E-08"
        ixy="1.30603108852878E-11"
        ixz="6.24614435386889E-14"
        iyy="1.69531813597036E-08"
        iyz="-3.36807501649832E-18"
        izz="4.63286907007236E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/imu_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/imu_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="imu_joint"
    type="fixed">
    <origin
      xyz="0.0001159 0 0.004143"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0103709928154782 5.6436625219944E-05 -0.000295341784202714"
        rpy="0 0 0" />
      <mass
        value="0.0417075290818711" />
      <inertia
        ixx="3.21186727343634E-05"
        ixy="-6.22845031418061E-09"
        ixz="3.41499561748871E-08"
        iyy="2.82331454727002E-06"
        iyz="1.44764112249294E-08"
        izz="3.16083294429481E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/camera_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.898039215686275 0.898039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/camera_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.125 -0.00024252 0.054467"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="lidar_link">
    <inertial>
      <origin
        xyz="-0.00656672707374609 0.000969221914658544 -0.00888016805798139"
        rpy="0 0 0" />
      <mass
        value="0.142994095653188" />
      <inertia
        ixx="4.62767161181518E-05"
        ixy="-8.53572518984293E-07"
        ixz="-3.62184026396734E-06"
        iyy="7.34746440088868E-05"
        iyz="2.04304178805859E-07"
        izz="0.000107960183716792" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/lidar_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.101960784313725 0.101960784313725 0.101960784313725 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://mecanum test v.6/meshes/lidar_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="lidar_joint"
    type="continuous">
    <origin
      xyz="0.037442 -0.0014643 0.079918"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="lidar_link" />
    <axis
      xyz="0 0 1" />
  </joint>
</robot>